<header>
    <nav>
        <a href="/">Mybrary</a>
        <ul>
            <li><a href="/authors">authors</a></li>
            <li><a href="/authors/new">add Author</a></li>
        </ul>
        
        
    </nav>
     
</header>